<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200056158259-gq8330ail7vi7co3e7qjq5tc5ad0qajs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200056158259-gq8330ail7vi7co3e7qjq5tc5ad0qajs</string>
	<key>API_KEY</key>
	<string>AIzaSyBJIUkkaIH_Lflh2dknz5KbrBV-Pjfu7B4</string>
	<key>GCM_SENDER_ID</key>
	<string>200056158259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.photoaday</string>
	<key>PROJECT_ID</key>
	<string>photoaday-app</string>
	<key>STORAGE_BUCKET</key>
	<string>photoaday-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200056158259:ios:ca3abcc91bba9ee6960b46</string>
</dict>
</plist>